node_modules/
.env
data.sqlite
data.sqlite-journal
data.sqlite-wal
data.sqlite-shm
uploads/*
!uploads/.gitkeep
!uploads/smart parking.jpg
!uploads/biometric.jpg
!uploads/bell system.jpg
backups/
coverage/
